
@model Lab3.Models.Database.Book

@{ ViewBag.Title = "Edit"; }

<h2>Edit</h2>
<form action="/News/Edit" method="post">
    <input type="hidden" name="ID" value="@Model.Id" />
    <input type="text" name="Title" value="@Model.Title" class="form-control" placeholder="Title">
    <input type="text" name="Description" value="@Model.Description" class="form-control" placeholder="Description" />
    <input type="text" name="Category" value="@Model.Category" class="form-control" placeholder="Category">
    <input type="text" name="CGPA" value="@Model.PublishDate " class="form-control" placeholder="PublishDate">
    <input class="btn btn-primary" type="submit" value="Edit" />

</form>